<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card>
      <img src="../../../assets/bike1.jpg" />
      <h3>Welcome to Mk Bike</h3>
      <p>
        An application that allows you to fast transport, avoid heavy traffic
        and increase your activity.
      </p>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="../../../assets/ticket.jpg" />
      <h3>Plans And Subscriptions</h3>
      <p>
        Depending on your age we have special offers for you that will make you
        happy.
      </p>
      <ion-button size="small" (click)="toPlans()">See Plans</ion-button>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="../../../assets/maps.jpg" />
      <h3>Find the nearest bicycles</h3>
      <p>Find the nearest location where you can rent a bike.</p>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="../../../assets/bike.jpg" />
      <h3>We deliver a better society!</h3>
      <p>Let's ride a bike for the better of us all!</p>
    </ion-card>
  </ion-slide>
</ion-slides>
