ion-slides {
  height: 90vh;
  width: auto;
}

ion-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  img {
    height: auto;
    width: auto;
    border-radius: 30px;
  }

  ion-router-link {
    color: white;
  }
}


ion-card {
  width: 90%;
  height: auto;
  margin: 30px;
  border-radius: 30px;

  p {
    padding: 20px;
  }

  ion-button {
    padding-bottom: 10px;
  }
}
