<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title> Registration</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding="true">
  <form role="form" (submit)="onRegister(registerForm)" #registerForm="ngForm">
    <img src="../../../assets/logo.jpg" alt="" />
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input
        autocomplete="off"
        type="text"
        id="firstName"
        ngModel
        #firstName="ngModel"
        name="firstName"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input
        autocomplete="off"
        type="text"
        id="lastName"
        ngModel
        #lastName="ngModel"
        name="lastName"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gender</ion-label>
      <ion-input
        autocomplete="off"
        type="text"
        id="sex"
        ngModel
        #sex="ngModel"
        name="sex"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input
        autocomplete="off"
        type="number"
        class="form-control"
        id="ages"
        ngModel
        #ages="ngModel"
        name="ages"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        autocomplete="off"
        type="email"
        id="email"
        ngModel
        #email="ngModel"
        name="email"
        required
        email
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        autocomplete="off"
        type="password"
        id="password"
        ngModel
        #password="ngModel"
        name="password"
        required
      ></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      type="submit"
      share="round"
      color="primary"
      [disabled]="registerForm.form.invalid"
      >Register</ion-button
    >
  </form>
</ion-content>
