<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back" [routerLink]="['/login']" routerLinkActive="router-link-active" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <h1>Register</h1>
    <img src="../../../assets/bike.jpg" />
  </div>
  <form role="form" (submit)="onRegister(registerForm)" #registerForm="ngForm">
    <ion-item class="ion-margin-bottom">
      <ion-input
        autocomplete="off"
        type="text"
        id="firstName"
        ngModel
        #firstName="ngModel"
        name="firstName"
        required
        placeholder="First name"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        autocomplete="off"
        type="text"
        id="lastName"
        ngModel
        #lastName="ngModel"
        name="lastName"
        required
        placeholder="Last name"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        autocomplete="off"
        type="text"
        id="sex"
        ngModel
        #sex="ngModel"
        name="sex"
        placeholder="Gender"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        autocomplete="off"
        type="number"
        class="form-control"
        id="ages"
        ngModel
        #ages="ngModel"
        name="ages"
        required
        placeholder="Age"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        autocomplete="off"
        type="email"
        id="email"
        ngModel
        #email="ngModel"
        name="email"
        required
        email
        placeholder="Email"
      >
      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        autocomplete="off"
        type="password"
        id="password"
        ngModel
        #password="ngModel"
        name="password"
        required
        placeholder="Password"
      ></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      shape="round"
      type="submit"
      [disabled]="registerForm.form.invalid"
      >Login</ion-button
    >
  </form>
</ion-content>
