<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="cover">
      <h2>Welcome {{username}}!</h2>
    </div>
  </div>
  <ion-list>
    <ion-title>Weekly Events:</ion-title>
    <ion-card *ngIf="!events.length > 0">
      <ion-card-content>There are no events this week! </ion-card-content>
    </ion-card>
    <ion-item *ngFor="let event of events">
      <ion-avatar slot="start">
        <img [src]="event.thumbnail" />
      </ion-avatar>
      <ion-label>
        <p class="title">{{event.title}}</p>
        <p>{{event.description}}</p>
        <p>Date: {{event.date | date}}</p>
        <a [href]="event.link" target="_blank">View More</a>
      </ion-label>
      <ion-button
        *ngIf="role == 'admin'"
        slot="end"
        color="danger"
        type="clear"
        size="medium"
        (click)="onDeleteEvent(event.id)"
        ><ion-icon name="trash"></ion-icon
      ></ion-button>
    </ion-item>

    <ion-button routerLink="/events">View all events</ion-button>
  </ion-list>

  <ion-list>
    <ion-title>News About Mk Bike:</ion-title>
    <ion-card *ngIf="!news.length > 0">
      <ion-card-content>There are no news! </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let news of news">
      <img [src]="news.img" />
      <ion-card-header>
        <ion-card-title>{{news.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{news.content}} </ion-card-content>
      <ion-button
        *ngIf="role == 'admin'"
        (click)="onDeleteNews(news.id)"
        expand="full"
        color="danger"
      >
        <ion-icon name="trash" slot="end"></ion-icon>
        Delete News
      </ion-button>
    </ion-card>
    <ion-button routerLink="/news">View News</ion-button>
  </ion-list>
</ion-content>
