ion-card {
  width: 95%;
  margin: 2.5%;
  border-radius: 2%;
  margin-bottom: 20px;
}

ion-card-title {
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
}

ion-list {
  margin-left: 10px;
  margin-right: 10px;
}

ion-button {
  margin-top: 15px;
}
