ion-content {
  height: auto;
  margin: 0px;
}


ion-avatar {
  width: 70px;
  height: 70px;
}


ion-list {
  // margin-top: 20px;

  ion-item {
    height: auto;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0px;
  }

  a {
    text-decoration: none;
  }

  ion-title {
    font-weight: bold;
  }
}
